<html>
  <section class="foot">
    <div class="container">
      <footer class="py-3">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item">
            <a
              target="_blank"
              href="https://github.com/Wrex-0-o"
              class="nav-link px-2 text-body-primary"
              >Git</a
            >
          </li>
          <li class="nav-item">
            <a
              target="_blank"
              href="https://www.linkedin.com/in/dhruv-prasad-77717a291/"
              class="nav-link px-2 text-body-primary"
              >Linked-In</a
            >
          </li>
          <li class="nav-item">
            <a
              target="_blank"
              href="https://www.instagram.com/ima.drawer_o_o_/"
              class="nav-link px-2 text-body-primary"
              >Instagram</a
            >
          </li>
          <li class="nav-item">
            <a
              target="_blank"
              href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=DmwnWsCcMvndNkjqHVWlkVrmSJVvNXlqNbHKfwvLrzSdkKJWjvnwXggfMjWWlQszlKMLdklTmhVv"
              class="nav-link px-2 text-body-primary"
              >E-Mail</a
            >
          </li>
          <li class="nav-item">
            <a target="_blank" href="https://wrex-0-o.github.io/Portfolio-Re/" class="nav-link px-2 text-body-primary">About</a>
          </li>
        </ul>
        <p class="text-center text-body-primary">
          © <%= new Date().getFullYear() %> Company, Inc
        </p>
      </footer>
    </div>
  </section>
</html>
